/sicpapi/.env
/sicpapi/tmp/
/sicpapi/logs/*
!/sicpapi/logs/.gitkeep
/sicpapi/Dockerfile.dev

/userapi/.env
/userapi/tmp/
/userapi/webroot/files/*
!/userapi/webroot/files/.gitkeep
/userapi/logs/*
!/userapi/logs/.gitkeep
/userapi/Dockerfile.dev

/docapi/.env
/docapi/tmp/
/docapi/webroot/files/*
!/docapi/webroot/files/.gitkeep
/docapi/logs/*
!/docapi/logs/.gitkeep
/docapi/Dockerfile.dev

/migrations/.env
/migrations/tmp/

/settingapi/.env
/settingapi/tmp/
/settingapi/webroot/files/*
!/settingapi/webroot/files/.gitkeep
/settingapi/logs/*
!/settingapi/logs/.gitkeep
/settingapi/Dockerfile.dev

/eventapi/.env
/eventapi/tmp/
/eventapi/webroot/files/*
!/eventapi/webroot/files/.gitkeep
/eventapi/logs/*
!/eventapi/logs/.gitkeep
/eventapi/Dockerfile.dev

/trxapi/.env
/trxapi/tmp/
/trxapi/webroot/files/*
!/trxapi/webroot/files/.gitkeep
/trxapi/logs/*
!/trxapi/logs/.gitkeep
/trxapi/Dockerfile.dev

/webchatapi/.env
/webchatapi/tmp/
/webchatapi/webroot/files/*
!/webchatapi/webroot/files/.gitkeep
/webchatapi/logs/*
!/webchatapi/logs/.gitkeep
/webchatapi/Dockerfile.dev

/websocket/.env
/websocket/tmp/

tmp/*