/sicpapi/.env
/sicpapi/tmp/
/sicpapi/logs/*
!/sicpapi/logs/.gitkeep
/sicpapi/Dockerfile.dev

/userapi/.env
/userapi/tmp/
/userapi/webroot/files/*
!/userapi/webroot/files/.gitkeep
/userapi/logs/*
!/userapi/logs/.gitkeep
/userapi/Dockerfile.dev

/reportapi/.env
/reportapi/tmp/
/reportapi/webroot/files/*
!/reportapi/webroot/files/.gitkeep
/reportapi/logs/*
!/reportapi/logs/.gitkeep
/reportapi/Dockerfile.dev

/surveyapi/.env
/surveyapi/tmp/
/surveyapi/webroot/files/*
!/surveyapi/webroot/files/.gitkeep
/surveyapi/logs/*
!/surveyapi/logs/.gitkeep
/surveyapi/Dockerfile.dev

/masterapi/.env
/masterapi/tmp/
/masterapi/webroot/files/*
!/masterapi/webroot/files/.gitkeep
/masterapi/logs/*
!/masterapi/logs/.gitkeep
/masterapi/Dockerfile.dev

/docapi/.env
/docapi/tmp/
/docapi/webroot/files/*
!/docapi/webroot/files/.gitkeep
/docapi/logs/*
!/docapi/logs/.gitkeep
/docapi/Dockerfile.dev

/wsapi/.env
/wsapi/tmp/
/wsapi/webroot/files/*
!/wsapi/webroot/files/.gitkeep
/wsapi/logs/*
!/wsapi/logs/.gitkeep
/wsapi/Dockerfile.dev

tmp/*