# CONFIG APP
PORT=
HOST=
JWT_SECRET_KEY=
ENCRYPT_KEY= // 32 karakter key
API_GATEWAY_URL=

# CONFIG DB
DB_SSL_MASTER=
DB_HOST_MASTER=
DB_PORT_MASTER=
DB_USER_MASTER=
DB_PASSWORD_MASTER=
DB_NAME_MASTER=
TIME_OUT_DB_MASTER=
DB_TIMEZONE_MASTER=

DB_SSL_SLAVE=
DB_HOST_SLAVE=
DB_PORT_SLAVE=
DB_USER_SLAVE=
DB_PASSWORD_SLAVE=
DB_NAME_SLAVE=
TIME_OUT_DB_SLAVE=
DB_TIMEZONE_SLAVE=

SMTP_EMAIL=
SMTP_PASSWORD=

# CONFIG RELASI SERVICE
USERAPI_HOST=
USERAPI_PORT=
DOCAPI_HOST=
DOCAPI_PORT=

BASE_URL =
LOG_FILE=