grpcio==1.83.0
grpcio-tools==1.83.0
protobuf==7.35.1
fastapi==0.141.1
uvicorn==0.52.1
python-dotenv==1.2.2
PyJWT==2.13.0
pydantic==2.13.4
python-multipart==0.0.32
weasyprint==69.0
Jinja2==3.1.6
matplotlib==3.11.1

# Database
SQLAlchemy==2.0.51
asyncpg==0.31.0