<!DOCTYPE html>
<html lang="en" style="box-sizing: border-box;">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Email Verif Password</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet" />
</head>
<body style="margin: 0; padding: 0; 
background: #F2F2F2;
font-family: 'Inter', Arial, sans-serif;">
<!-- background-image: linear-gradient(to bottom, #27445d, #306077, #3d7e8e, #539ca2, #71bbb2);  -->
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="center" style="padding: 20px;">
        <table width="100%" style="max-width: 500px; background-color: #ffffff; border-radius: 30px; box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" style="background-color: #71BBB2; border-radius: 30px 30px 0px 0px; padding: 35px 1px 5px 1px;">
                  <img src="https://cdn-icons-png.freepik.com/512/5361/5361748.png" alt="Logo Key" style="width: 150px; height: auto;">
                  <h3 style="color: #ffffff; font-size: 20px;">INFORMASI RESET KATA SANDI</h3>
            </td>
          </tr>
          <tr>
            <td style="padding: 1px 40px 40px 40px;">              
              <h2 style="margin-top: 20px; color: #000;">Halo, {{.Nama}}</h2>
              <p style="color: #000; line-height: 1.5; font-size: 13px;">Kami ingin menginformasikan bahwa kata sandi akun Jastiper Anda telah diubah oleh admin. Berikut adalah kata sandi baru Anda: </p>
              
              <!-- <p style="color: #000; line-height: 1.5; font-size: 13px;">Berikut adalah password untuk login akun <b>Jastiper</b>:</p> -->
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="center">
                    <h2 style="color: #000; display: inline-block; border-bottom: 2px solid #000; padding-bottom: 6px;">{{.Password}}</h2>
                  </td>                  
                </tr>
              </table>
              <p style="color: #000; line-height: 1.5; font-size: 13px;">Untuk keamanan akun Anda, kami sarankan segera melakukan login dan mengganti kata sandi ini dengan yang baru sesuai keinginan Anda.</p>
              
              <p style="color: #000; line-height: 1.5; font-size: 13px;">Jika Anda merasa tidak melakukan perubahan ini atau memiliki pertanyaan, silakan hubungi tim support kami.</p>
              
              <p style="color: #000; line-height: 1.5; font-size: 13px; margin-top: 30px; margin-bottom: 0;">Salam hangat,<br><strong>Tim Jastiper</strong></p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>